@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  box-sizing: border-box;

  background-color: #ecf0f3;
  font-family: "Poppins", sans-serif;
}

.mainbox {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 8px 8px 15px #fff, 8px 8px 15px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}
.calculator h2 {
  grid-column: span 4;
}
.calculator input {
  grid-column: span 4;
  height: 70px;
  width: 280px;
  box-shadow: inset -6px -6px 12px #fff, inset 6px 6px 12px rgba(0, 0, 0, 0.16);
  border: none;
  outline: none;
  color: #808080;
  border-radius: 30px;
  font-size: 3rem;
  text-align: end;
  padding: 20px;
  margin: 20px 0;
}

.calculator button {
  height: 50px;
  width: 50px;
  box-shadow: -6px -6px 12px #fff, 6px 6px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 20%;
  font-size: 1rem;
}
